<!-- <footer class="footer">
    <div class="container">
        <span>ITP211 Object Oriented Analysis and Design</span>
    </div>
</footer> -->

<!--FOOTER-->
    <!--FOOTER 1-->

    <div class="bottom-grids">
        <div class="bottom-top-grids">
            <div class="wrap">
                <div class="bottom-top-grid">
                    <h4>ABOUT US</h4>
                    <ul>
                        <p>Our website serves as a platform for users to buy and sell textbooks.</p>
                    </ul>
                </div>
                <div class="bottom-top-grid">
                    <h4>Contact us: </h4>
                    <ul>
                        <!-- <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="#">Frequently Asked Questions(FAQ)</a></li>
                        <li><a href="#">Terms & Conditions</a></li> -->
                        <li>Email: info@Adamire.com</li>
                        <li>Telephone: +65 6558 8101</li>
                    </ul>
                </div>
                <div class="bottom-top-grid last-bottom-top-grid">
                    <h4>REGISTER</h4>
                    <p>Create an account to manage everything you do with Adamire!</p>
                    <a class="learn-more" href="#">Visit Now</a>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
    <!--//FOOTER1-->


    <!--FOOTER2-->
    <div class="footer">
        <div class="wrap">
            <div class="footer-left">
                <ul>
                    <li><a href="#">&copy Adamire 2018. All rights reserved</a></li>
                    <div class="clear"> </div>
                </ul>
            </div>
            <div class="footer-right">
                
                <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <!--//FOOTER2-->

<!--//FOOTER-->