<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body>
    <% include ../partials/header3 %>
    <div class="login-main">
        <div class="container">
            <div class="wrap">
                <h1><%=webTitle%></h1>
                <div class="row">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-left: auto; margin-right: auto;">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <center>
                            <a href="/admin"><button type="button" class="btn btn-primary">Manage Users</button></button></a>
                            <a href="#"><button type="button" class="btn btn-primary">Manage Listings</button></a>
                            <a href="#"><button type="button" class="btn btn-primary">Manage Transactions</button></a>
                            <a href="/deactivationRequest"><button type="button" class="btn btn-warning">Deactivation Requests</button></a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
               
    <br>
    <br>
    <br>
    <br>
    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>
</html>

<!--


-->