<!doctype html>
<html>
<head>
<script src="/javascripts/socket.io.js"></script>    
<% include ../partials/javascript %>
<% include ../partials/stylesheet %>

</head>    
<body>
<% include ../partials/header %>
<div class ="container">
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Send Message</h1>
        <br>
        <input id="name" class="form-control" placeholder="Name" value="<%=user%>" readonly style="display: none"> 
        <br>
        <textarea id="message" class="form-control" placeholder="Message"></textarea>
        <br>
        <button id="send" class="btn btn-success">Send</button>
        <br>
    </div>
    
<span class="border">
    <div id="messages">
        <%data.forEach(function(msg){%>
        <h4> <%=msg.name%> </h4> <p> <%=msg.message%> </p>   
        <%})%>
    </div>
</span>

</div>
<script>
    var socket = io()
    $(() => {
        $("#send").click(()=>{
            var message = { name: $("#name").val(), message: $("#message").val()}
            postMessage(message)
        })
    })

    socket.on('message', addMessage)


    function addMessage(msg){
        $("#messages").append(`<h4> ${msg.name} </h4> <p> ${msg.message} </p>`)
    }

    function postMessage(message) {
        $.post('<%-url%>', message)
    }
</script>    
</body>
</html>