<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/jquery.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>
</head>

<body>
    <style>
        textarea{
            resize:none
        }
        #Inbox{
            text-align:center;
            padding-top: 1rem;
        }
        #chicken{
            padding-top:5px;
            padding-bottom:5px;
        }
        #messages{
            border: 2px solid black;
            border-radius: 5px;
            height: 240px;
            width: 100%;
            padding: 10px;
            overflow-y:auto;
        }
        .myborder{
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            width: 100%;
            border-left: 1px solid black;
            border-right: 1px solid black;
        }
        #prod_img{
            margin-top:5px;
            margin-bottom: 5px;
            height: 100px;
            width: 100px;
            margin-right: 100px;
        }
    </style>
<% include ../partials/header %>
<div class="container">
    <p id="Inbox">Inbox</p>
    <div class="row" id="chicken">
        <div class="myborder" onclick="myFunction1()" style="cursor: pointer;">
            <div class="col-sm-3" style="text-align: center;">
                <img id="prod_img" img src="/uploads/itemImage/013440_131775336_thumbnail.jpg">
            </div>
            <div class="col-sm-5">
                <br>
                <p style="margin-right:100px">Benjamin Loke</p>
                <br>
                <p style="margin-right:100px"> Is 5 at Yishun Mrt convenient for you on Monday </p>
            </div>
        </div>
    </div>
</div>
<script>
function myFunction1() {
    location.href='/messages/1';
}
</script>
<div class="container">
        <div class="row" id="chicken">
            <div class="myborder"  onclick="myFunction2()" style="cursor: pointer;">
                <div class="col-sm-3" style="text-align: center;">
                    <img id="prod_img" img src="/uploads/itemImage/132433_152214455_thumbnail.jpg">
                </div>
                <div class="col-sm-5">
                    <br>
                    <p style="margin-right:100px">Shang Ji</p>
                    <br>
                    <p style="margin-right:100px"> Hi what is the condition of this product </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        function myFunction2() {
            location.href='/messages/2';
        }
        </script>
    <div class="container" onclick="myFunction3()" style="cursor: pointer;">
            <div class="row" id="chicken">
                <div class="myborder">
                    <div class="col-sm-3" style="text-align: center;">
                        <img id="prod_img" img src="/uploads/itemImage/135020_148470207_thumbnail.jpg">
                    </div>
                    <div class="col-sm-5">
                        <br>
                        <p style="margin-right:100px">Johana</p>
                        <br>
                        <p style="margin-right:100px">Nice dealing with you </p>
                    </div>
                </div>
            </div>
            <script>
                function myFunction3() {
                    location.href='/messages/3';
                }
            </script>
<script>
    var d = newDate();
    document.getElementById("chicken").innerHTML = d.toDateString();
</script>


<% include ../partials/footer %>

</body>

</html> 