<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body>
    <% include ../partials/header %>
    <!--Home Page Contents-->
    <!--hero img-->
    <div class="img-slider">
        <div class="wrap">
            <ul id="jquery-demo">
                <!--1st slide-->
                <li>
                    <a href="#slide1">
                        <img src="images/heroImages/hero_image11.jpg" alt=""/>
                    </a>
                    <div class="slider-detils">
                        <h3><label>NEW</label> TEXTBOOKS LISTINGS</h3>
                        <span>TAKE A LOOK!</span>
			    	    <a class="slide-btn" href="/listing"> Shop Now</a>
                    </div>
                </li>
                <!--//first slide-->


                <!--2nd slide-->
                <li>
                    <a href="#slide2">
                        <img src="images/heroImages/hero_image2.PNG"  alt="" class="image_2"/>
                    </a>
                    <div class="slider-detils">
                        <h3><label>TOP</label> SELLERS</h3>
                        <span>100% TRUSTABLE!</span>
                        <a class="slide-btn" href="/#"> View More</a>
                    </div>
                </li>
                <!--//2nd slide-->

                <!--3rd slide-->
                <li>
                    <a href="#slide3">
                    <img src="images/heroImages/hero_image3.jpg" alt="" />
                    </a>
                    <div class="slider-detils">
                        <h3><label>E-WALLET</label>PAYMENT</h3>
                        <span>Stay cashless</span>
                        <a class="slide-btn" href="details.html"> Find Out More</a>
                    </div>
                </li>
                <!--//3rd slide-->
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <!--//hero img-->
  
<!--***************************************-->
<!--Portfolio-->
    <section class="content-section" id="portfolio">
        <div class="container">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Categories</h3>
                <h2 class="mb-5">TAKE A LOOK!</h2>
            </div>
            <div class="row no-gutters">

                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <span class="caption">
                            <span class="caption-content">
                                <p class="mb-0">Art & Design</p>
                            </span>
                        </span>
                        <img class="img-fluid" src="images/portfolioImages/portfolio1.jpg" alt="">
                    </a>    
                </div>

                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <span class="caption">
                            <span class="caption-content">
                                <p class="mb-0">Humanities</p>
                            </span>
                        </span>
                        <img class="img-fluid" src="images/portfolioImages/portfolio2.jpg" alt="">
                    </a>    
                </div>
                
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <span class="caption">
                            <span class="caption-content">
                                <p class="mb-0">Languages</p>
                            </span>
                        </span>
                        <img class="img-fluid" src="images/portfolioImages/portfolio3.jpg" alt="">
                    </a>    
                </div>

                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <span class="caption">
                            <span class="caption-content">
                                <p class="mb-0">Mathematics</p>
                            </span>
                        </span>
                        <img class="img-fluid" src="images/portfolioImages/portfolio4.jpg" alt="">
                    </a>    
                </div>


                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <span class="caption">
                            <span class="caption-content">
                                <p class="mb-0">Science</p>
                            </span>
                        </span>
                        <img class="img-fluid" src="images/portfolioImages/portfolio5.jpg" alt="">
                    </a>    
                </div>


                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <span class="caption">
                            <span class="caption-content">
                                <p class="mb-0">Other Subjects</p>
                            </span>
                        </span>
                        <img class="img-fluid" src="images/portfolioImages/portfolio6.jpg" alt="">
                    </a>    
                </div>
            </div>
        </div>
    </section>
    <!--//Portfolio-->
    <!--//*************************************-->
    <!-- //Home Page Contents-->

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>
</html>
