<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
  <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.8/css/all.css'>
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>
</head>
<body>
    <% include ../partials/header2 %>
    <!--I included it outside bc the table doesnt seem to work-->
    <div>
      <p>Name</p>
    </div>
    <div>
      <p>Price</p>
    </div>
    <div>
      <p>Condition</p>
    </div>
    <%=itemList.name%> ,
    <%=itemList.group%> ,
    <%=itemList.hobby%>, 
    <!--//end-->
    
          <input type="button" class="editBtn" value="Edit">
          <input type="button" class="deleteBtn"  value="Delete">

          <button type="button" onclick="location.href='http://google.com';">Chat to Buy</button>
          <button type="button" onclick="location.href='http://google.com';">Make an offer</button>
  <script>

  </script>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% include ../partials/footer %>
<% include ../partials/javascript %>
</body>

<script>
</script>

</html>