<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include ../partials/stylesheet %>
    </head>
    <body>
        <% include ../partials/header %>
        <h1 style="font-size: 25px; text-align: center">Notifications</h1>
        <% include ../partials/javascript %>
        <script>
        </script>
        <% include ../partials/footer %>
    </body>
</html>